<form action="#" class="login-form">
  <h1 class="x-sub-title">Forgot Password</h1>
  <label for="login-email" class="label">Email</label>
  <input type="email" placeholder="youremail@email.com" class="input" id="login-email" required>
  <input type="submit" value="Submit" class="btn">
</form>