<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= erb :styles_links %>
  <title>Get That Job</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= erb :'reusable_component/navbar' %>
<main>
  <%= yield %>
</main>
<%= erb :'reusable_component/footer' %>
</body>
</html>
