<form action="#" class="login-form">
  <h1 class="x-sub-title">Login</h1>
  <label for="login-email" class="label">Email</label>
  <input type="email" placeholder="youremail@email.com" class="input" id="login-email" required>
  <label for="password" class="label">Password</label>
  <input type="login-password" placeholder="*******" class="input" id="login-password" required minlength="8">
  <input type="submit" value="Submit" class="btn">
  <a href="#" class="label forgot-password">Forgot password?</a>
</form>