<form action="complete_registration_form" class="login-form">
  <h1 class="x-sub-title">Sign Up</h1>
  <label for="login-email" class="label">Email</label>
  <input type="email" placeholder="youremail@email.com" class="input" id="login-email" required>
  <label for="login-password" class="label">Password</label>
  <input type="password" placeholder="*******" class="input" id="login-password" required minlength="9">
  <label for="login-confirm" class="label">Confirm Password</label>
  <input type="password" placeholder="*******" class="input" id="login-confirm" required minlength="9">
  <input type="submit" class="btn" value="SUBMIT">
  <a href="login" class="label forgot-password">Sign In</a>
</form>