<div class="card-container">
  <div class="card-header">
    <div class="card-logo">
      <img src="A1.png" alt="Avatar" />
    </div>
    <div class="paragraph">
      <h4 class="xx-sub-title card-title"><b>Able.co</b></h4>
      <p class="small card-subtitle">
        <i class="fas fa-map-marker-alt"></i>Lima, Peru
      </p>
      <p class="small card-subtitle">
        <a href=""><i class="fas fa-external-link-alt"></i>Open Website</a>
      </p>
      <p class="small card-subtitle">Posted 10 Jobs</p>
    </div>
  </div>
  <div class="paragraph card-button">
    <p class="small card-button-title">Get this job</p>
  </div>

  <div class="paragraph card-footer">
    <p class="small card-footer-all">View All jobs</p>
    <img class="card-footer-img" src="right-square.svg" alt="" />
  </div>
</div>
