<footer class="footer paragraph">
  <div class="footer-menu">
    <!--colum1 -->
    <div class="footer-colum">
      <p class="big footer-menu-title">Jobs</p>
      <ul class="footer-listas">
        <li><a href="">Software Engineer</a></li>
        <li><a href="">Frontend Engineer</a></li>
        <li><a href="">Codeable Graduate</a></li>
        <li><a href="">Backend Engineer</a></li>
        <li><a href="">Meme Master</a></li>
        <li><a id="purple" href="">University Dropouts</a></li>
      </ul>
    </div>
    <!--colum2 -->
    <div class="footer-colum">
      <p class="big footer-menu-title">Company</p>
      <ul class="footer-listas">
        <li><a href="">Blog</a></li>
        <li><a href="">Carreers</a></li>
        <li><a href="">Privacy</a></li>
        <li><a id="purple" href="">About</a></li>
      </ul>
    </div>
    <!--colum3 -->
    <div class="footer-colum">
      <p class="big footer-menu-title">Support</p>
      <ul class="footer-listas">
        <li><a href="">Docummentation</a></li>
        <li><a href="">Security</a></li>
        <li><a href="">Mobility Guide</a></li>
        <li><a id="purple" href="">FAQs</a></li>
      </ul>
    </div>
    <!--colum4 -->
    <div class="footer-colum">
      <p class="big footer-menu-title">Legal</p>
      <ul class="footer-listas">
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Cookie Information</a></li>
        <li><a id="purple" href="">GDPR Commitment</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyrigth">
    <p>©2020 Get That Job</p>
  </div>
</footer>
