<div class="hero">
  <section class="hero-text">
    <h1 class="title">The place where you get that job</h1>
    <p class="paragraph x-big">With our Machine learning algorithm you will get that job
      in no time, We promise you! Just give us the money and we
      will take care of it.</p>
    <a href="sign_up" class="btn">Create your account now</a>
  </section>
  <img src="../assets/hero.png" alt="#" class="hide">
</div>
