<tr>
  <td colspan="6" class="table-job-item">
    <div class="table-job-item-container">
      <div class="table-job-item-left">
        <img class="able-logo-small" src="assets/able_logo.png" alt="Job Description">
        <div class="table-job-item-detail">
          <a href="job-details" class="paragraph x-big table-job-item-paragraph-job-description">Software Engineer</a>
          <p class="paragraph table-job-item-paragraph-city">Able - Lima</p>
        </div>
      </div>
      <div class="table-job-item-right">
        <img class="dollar-logo-small" src="assets/dollar_logo.png" alt="Money">
        <a class="table-job-item-technology-tag">ReactJS</a>
        <a class="table-job-item-technology-tag">ReactJS</a>
        <p class="paragraph table-job-item-paragraph-day">Today</p>
      </div>
    </div>
  </td>
</tr>
