<header class="navbar">
  <div>
    <a href="/"><img src="assets/navbar/logo.svg" alt="GetThatJob Logo"></a>
    <a href="/"><h1 class="title-spacing">GetThatJob</h1></a>
  </div>
  <nav>
    <ul class="navbar-links">
      <li>
        <a href="/faq">Help</a>
      </li>
      <li>
        <a href="#">Companies</a>
      </li>
      <li>
        <a href="job_listing">Jobs</a>
      </li>
    </ul>
    <div class="navbar-buttons">
      <a href="login"><button class="btn sign-in-btn">Sign In</button></a>
      <a href="sign_up"><button class="btn create-account-btn">Create an Account</button></a>
    </div>
  </nav>
</header>
