<header class="navbar">
  <div>
    <img src="assets/navbar/logo.svg" alt="GetThatJob Logo">
    <h1 class="title-spacing">GetThatJob</h1>
  </div>
  <nav>
    <ul class="navbar-links">
      <li>
        <a href="#">Help</a>
      </li>
      <li>
        <a href="#">Companies</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
    </ul>
    <div class="navbar-buttons">
      <button class="btn sign-in-btn">Sign In</button>
      <button class="btn create-account-btn">Create an Account</button>
    </div>
  </nav>
</header>
