<div class="testimonials">
  <a href="#" class="testimonial-arrow left"></a>
  <div class="testimonial-content">
    <img src="../../assets/testimonial-avatar.png" alt="#">
    <p class="sub-title">“Amazing experience, I love it a lot. Thanks to the team
      I got that Job, great!”</p>
    <p class="testimonial-author">Lassy Chester <br>
      <span class="paragraph small">Art Director</span></p>
  </div>
  <a href="#" class="testimonial-arrow right"></a>
</div>