.card-container {
  position: absolute;
  width: 250px;
  height: 385px;
  left: 981px;
  top: 164px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: end;
}
.card-header {
  text-align: center;
  padding-top: 40px;
}

.card-title {
  line-height: 38px;
  color: #000000;
  padding: 0;
  margin: 12px 0;
}
.card-subtitle {
  margin: 4px 0;
}
.fa-map-marker-alt {
  color: black;
  margin-right: 7.75px;
}
.fa-external-link-alt {
  color: black;
  margin-right: 6.75px;
}
.card-button {
  width: 186px;
  height: 40px;
  background-color: #3c2dff;
  margin-top: 41px;
}
.card-button-title {
  color: white;
  text-align: center;
  margin: 8px auto;
}
.card-footer {
  width: 186px;
  height: 56px;
  margin: 16px auto;
  border-top: 1px solid #000000;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.card-footer-img {
  width: 18.76px;
  height: auto;
  margin-left: 10.62px;
}
.card-footer-all {
  margin: 16px 0;
}
